body {
  width: 1000px;
  margin: 20px auto;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  border: solid 1px black;
  width: 300px;
  background-color: #555555;
  color: #ffffff;
}

.sitename * {
  margin-right: 5px;
  display: inline-block;
}

.second {
  display: flex;
}

.article {
  width: 600px;
}

.win_number {
  margin-right: 5px;
  width: 26px;
  height: 26px;
  line-height: 24px;
  display: inline-block;
  border-radius: 100%;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  font-weight: 500;
}

.win_number_0 {
  color: #000000;
  font-weight: 500px;
}
.win_number_1 {
  background: #fbc400;
  text-shadow: 0px 0px 3px rgb(73 57 0 / 80%);
}
.win_number_2 {
  background: #69c8f2;
  text-shadow: 0px 0px 3px rgb(0 49 70 / 80%);
}
.win_number_3 {
  background: #ff7272;
  text-shadow: 0px 0px 3px rgb(64 0 0 / 80%);
}
.win_number_4 {
  background: #aaa;
  text-shadow: 0px 0px 3px rgb(61 61 61 / 80%);
}
.win_number_5 {
  background: #b0d840;
  text-shadow: 0px 0px 3px rgb(41 56 0 / 80%);
}
